{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h2 class="text-center my-4">Salesmen</h2>

    <div class="list-group">

        {% for salesman in object_list %}
        <div class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
                <h4>{{ salesman.salesman_name }} in {{ salesman.market.market_name }}</h4>
                <div>
                    <a href="{% url 'salesman_edit' salesman.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a href="{% url 'salesman_delete' salesman.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
                    <a href="{% url 'salesman_addproduct' salesman.pk %}" class="btn btn-sm btn-outline-success">Add
                        Products</a>
                    <a href="{% url 'salesman_addorder' salesman.pk %}" class="btn btn-sm btn-outline-info">Add
                        Order</a>
                </div>
            </div>

            <div class="mt-3">
                <h5>products:</h5>
                <ul class="list-group">
                    {% for product in additional_objects %}
                    {% if product.salesman == salesman %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ product.product_name }} - ${{ product.price }} - Stock: {{ product.stock }}
                        <div>
                            <a href="{% url 'product_edit' product.pk %}"
                                class="btn btn-sm btn-outline-secondary">Edit</a> |
                            <a href="{% url 'product_delete' product.pk %}"
                                class="btn btn-sm btn-outline-danger">Delete</a>
                        </div>
                    </li>
                    {% endif %}
                    {% empty %}
                    <li class="list-group-item">No products available</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="mt-3">
                <h5>orders:</h5>
                <ul class="list-group">
                    {% for order in additional_objects2 %}
                    {% if order.salesman == salesman %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ customer.customer_name }}
                        Order {{ order.order_id }} from {{ order.customer }}
                        <div>
                            <a href="{% url 'order_delete' order.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
                        </div>
                    </li>
                    {% endif %}
                    {% empty %}
                    <li class="list-group-item">No orders available</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}